<div class="">
    <p class="delete-photo-header">Hesabı Sil?</p>
    <p>Hesabınızı silmek istediğinize eminmisiniz?</p>

    <div class="row" style="margin-top: 10px;padding: 0">
        <div class="col-50" style="padding-right: 5px">
            <button class="button button-block button-dark" ng-click="closeDeleteAccountConfirm()">
                İptal
            </button>
        </div>
        <div class="col-50" style="padding-left: 5px">
            <button class="button button-block button-dark" ng-click="deleteAccountPermanently()">
                Sil
            </button>
        </div>
    </div>
</div>