<div class="">
    <p class="delete-photo-header">Sil</p>
    <p>Bu fotoğrafı silmek istediğinden emin misin?</p>

    <div class="row" style="margin-top: 10px;padding: 0">
        <div class="col-50" style="padding-right: 5px">
            <button class="button button-block button-dark" ng-click="closeDeletePhotoConfirm()">
                İptal
            </button>
        </div>
        <div class="col-50" style="padding-left: 5px">
            <button class="button button-block button-dark" ng-click="removePic()">
                Sil
            </button>
        </div>
    </div>
</div>